@import url('https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap');


.collection-preview {
  display: flex;
  flex-direction: column;
  justify-content: center;
  // margin-bottom: 30px;
  margin:0 auto;
  width: 90%;

  .title {
    
    font-size: 20px;
    margin-top: 35px;
    margin-bottom: 10px;
  }

  .preview {
    display: flex;
    justify-content: space-between;
    font-family: 'New Tegomin', serif;
  }
}
